
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
input:focus {
  border: none; /* Loại bỏ border */
  outline: none; /* Loại bỏ outline mặc định của trình duyệt */
}
textarea:focus {
  border: none; /* Loại bỏ border */
  outline: none; /* Loại bỏ outline mặc định của trình duyệt */
}
.main-color{
  color: #35ab39;
}
.layout {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.row{
  display: flex;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 90px;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.container.fade-out {
  opacity: 0;
}

.container.fade-in {
  opacity: 1;
}
.text-content {
  width: 50%;
  z-index: 1;
}
.text-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 0;
}
.text-content input {
  width: 300px;
}
.regist {
  width: calc(50px + 10vw);
}
.text-content img {
  border-radius: 50%;
  width: 45%;
  height: 425px;
  display: inline;
}
.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-circle {
  border-radius: 50%;
  overflow: hidden;
}
.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 90px;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.sidebar-item {
  height: auto;
  text-align: center;
  padding: 15px 5px;
  border-right: 5px solid transparent;
  transition: border-color 0.3s ease;
}
.sidebar-item a{
  text-decoration: none;
  color: #b3b3b3;

}
.sidebar-item.select {
  border-right: 5px solid #35ab39; /* Màu xanh khi được chọn */
  background-color: #f0f0f0; /* Tùy chọn: thay đổi màu nền khi được chọn */
}
.sidebar-item span {
  word-wrap: break-word;
  display: block; /
}
.sidebar-item-first {
  background-color: #35ab39;
  height: 60px;
  margin-bottom: calc(100px + 10vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item-first img{
  max-width: 35px;
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
}
.hamburger div {
  width: 30px;
  height: 3px;
  background-color: #3e3939;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.sidebar-mobile {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  width: 80px;
  height: calc(100% - 70px);
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-direction: column;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);  
}
.sidebar-mobile.active {
  opacity: 1;
visibility: visible;
transform: translateX(0)
}
.header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}
.header img {
  width: 35px;
}
.header-title{
  width: 60%;
  text-align: center;
}
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
}
button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.text-primary {
  color: #4caf50;
}

.testimonial-section {
  width: 100%;  
  padding: 50px 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.testimonial-header {
  margin-bottom: 40px;
  float: left;
  width: 20%;
}

.testimonial-header h4 {
  color: #4CAF50;
  margin-bottom: 10px;
}

.testimonial-header h2 {
  font-size: 3.2rem;
  margin-bottom: 25px;
}

.testimonial-header p {
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.testimonial-slider {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.testimonial-slide {
  width: 350px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 15px;
  height: fit-content;
}

.quote {
  font-size: 4em;
  color: #4CAF50;
  line-height: 1;
}

.testimonial-slide p {
  margin-bottom: 20px;
}

.customer-info {
  display: flex;
  align-items: center;
}

.customer-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.slider-controls {
  text-align: center;
  margin-top: 20px;
}

.slider-controls button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}
/* Shapes */
.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #35ab39;
  opacity: 0.6;
  top: 40%;
  left: 10%;
  animation: rotate-square 10s infinite linear;
}

.plus {
  position: absolute;
  width: 15px;
  height: 100px;
  background-color: #35ab39;
  opacity: 0.6;
  top: 5%;
  right: 5%;
}
.plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 15px;
  background-color: #35ab39;
  opacity: 0.6;
  transform: translate(-50%, -50%);
}
.plus {
  animation: rotate-plus 8s infinite linear;
}
.icon {
  font-size: 18px;
}
.zalo-gif {
  position: fixed; /* Position it relative to the viewport */
  right: 0; /* Align to the right edge */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for perfect vertical centering */
  padding: 10px; /* Optional padding for spacing */
  z-index: 9999;
}

.zalo-gif img {
  width: 50px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}
.content{
  background-color: #35ab39;
  color: white;
  padding: 50px;
}
.progess-container {
  width: 100%;
  background-color: #f3f3f3; /* Màu nền của thanh tiến độ */
  border-radius: 9999px;
    overflow: hidden; /* Ẩn các phần tử tràn ra ngoài */
  height: 20px; /* Chiều cao của thanh tiến độ */
  margin: 10px 0; /* Khoảng cách trên và dưới thanh tiến độ */
}

.progess {
  height: 100%; /* Chiều cao của thanh tiến độ */
  background-color: #35ab39; /* Màu của thanh tiến độ */
  width: 0; /* Chiều rộng mặc định (sẽ được thay đổi bằng cách sử dụng inline style) */
  transition: width 0.5s ease; /* Hiệu ứng chuyển tiếp khi thay đổi chiều rộng */
}
.contact-layout{
  width: 65%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.address-item{
  font-size: 16px;
  align-items: center;
  background-color: #f9f9f9;
  margin-top: 40px;
  padding: 30px 0 30px 30px;
}
.address-item h6{
  font-size: 16px;
  margin-bottom: 0;
}
.address-item i{
  font-size: 40px;
  margin-right: 20px;
  color: #35ab39;
}
@keyframes rotate-square {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-plus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* about-css */
@media (min-width: 992px) {
  .about-page{
    display: flex;
    width: 65%;
    margin: 0 auto;
    position: relative;
  }
  .about-text-content {
      -ms-flex-order: 2;
      order: 2;
      width: 50%;
      margin-left: 5%;
  }
  .about-text-content h1{
    font-size: 3.2rem;
    margin-bottom: 25px;
  }
  .about-text-content p{
    font-size: 16px;
    color: #696969;
    margin: 0 0 25px;
  }
  .about-text-content h6{
    font-size: 16px;
    color: #35ab39;
  }
  .about-list-image {
    flex: 1 1 50%; 
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  .about-image {
    overflow: hidden; 
    position: relative;
  }
  
  .about-image img {
    border-radius: 5%;
    width: 100%; 
    object-fit: cover; 
    height: calc(200px + 5vh);
  }
  .diamond {
    content: "";
    position: absolute;
    top: 50%;
    left: -200px;
    z-index: -1;
    transition: all 0s;
    background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2N8+vTpfwYGBgZpaWlGEI0LMBKtEJ8pyHJ4rRtVCAAd/QgLwKUsAgAAAABJRU5ErkJggg==) !important;
    background-position: 0 0px;
    background-repeat: repeat !important;
    background-size: 15px;
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
  }
  .services-layout{
      display: flex;
      width: 65%;
      margin: 0 auto;
      position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .services-content-left{
    width: 40%;
  }
  .services-content-right{
    margin-left: 5%;
    width: 55%;
  }
  .services-about {
    height: 550px;
    width: 100%;
    display: block;
    position: relative;
    top: 0;
    padding-top: 10px;
    background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2N8+vTpfwYGBgZpaWlGEI0LMBKtEJ8pyHJ4rRtVCAAd/QgLwKUsAgAAAABJRU5ErkJggg==) !important;
    background-position: 0 0px !important;
    background-repeat: repeat !important;
    right: 0;
    z-index: -1;
    background-size: 15px;
}
.services-about .service-image {
  float: right;
  max-width: 450px;
}
.services-about .content {
  position: absolute;
  background-color: #35ab39;
  bottom: 0;
  left: 0;
  max-width: 500px;
  color: #fff;
  padding: 50px;
  text-align: left;
}
.service-icon{
  justify-content: space-between;
  margin-top: 20%;
}
.counters{
  width: fit-content;
}
.counters p{
  margin: 0 0 5px 25px;
} 
.counters i{
  font-size: 40px;
  color: #35ab39;
} 
.map-half {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.sub-title{
  font-size: 16px;
  line-height: 1.2;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.contact-left{
  padding-right: 5%;
}
.contact-right{
  width: 50%;
}
.contact-form .form-control {
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px 0;
  background: #fff;
  letter-spacing: .5px;
  font-weight: 400;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  min-height: 35px;
  position: relative;
  -webkit-transition: border .9s ease;
  -o-transition: border .9s ease;
  transition: border .9s ease;
}
.contact-form textarea.form-control {
  min-height: 140px;
  resize: none;
  margin-bottom: 0;
  width: 100%;
}
.send-mesage{
  margin-top: 5%;
  width: 100%;
  border-radius: 999px;
}
}
/* mobile-css home */
@media (max-width: 991px) {
  .layout {
    height: auto;
  }
  .container {
    margin-left: 0;
    padding: 10px;
    padding-top: 80px;
  }
  .text-content {
    width: 100%;
  }
  .text-content h1 {
    font-size: 30px;
    text-align: justify;
  }
  .text-content input {
    width: 100%;
  }
  .text-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .image-content {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .image-circle {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .header {
    display: flex;
  }
  .header .header-logo {
    background-color: #35ab39;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-block img {
    width: calc(150px + 5vw);
    height: calc(150px + 5vw);
  }
  .shape-container {
    display: none;
  }
  /* about page */
  .about-text-first{
    color: #35ab39;
    font-size: 16px;
    text-align: center;
  }
  .about-text-content h1{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .about-text-content p{
    text-align: center;
    margin: 0 0 25px;
    overflow-wrap: break-word;
    color: #696969;
    letter-spacing: .5px;
  }
  .about-image {
    overflow: hidden; 
    position: relative;
  }
  
  .about-image img {
    border-radius: 5%;
    width: 100%; 
    object-fit: cover; 
    height: calc(200px + 5vh);
  }
  .testimonial-section{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .testimonial-header{
    width: 100%;
    float: none;
  }
  .testimonial-slide{
    margin: 0;
  }

  .services-content-left p{
    font-size: 16px;
    margin-bottom: 20px;
  }
  .services-content-left h1{
    font-weight:500;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .first-title{
    text-align: center;
  }
  .service-icon{
    justify-content: space-between;
  }
  .counters{
    width: fit-content;
  }
  .counters p{
    margin: 0 0 5px 25px;
  } 
  .counters i{
    font-size: 40px;
  } 
  .services-about img{
    display: none;
  }
  .contact-layout{
    display: block;
    width: 100%;
  }
  .map-half {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .sub-title{
    font-size: 16px;
    line-height: 1.2;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  .contact-left{
    padding-right: 5%;
  }
  .contact-right{
    width: 100%;
    margin-top: 5%;
  }
  .contact-form .form-control {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 0;
    background: #fff;
    letter-spacing: .5px;
    font-weight: 400;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    min-height: 35px;
    position: relative;
    -webkit-transition: border .9s ease;
    -o-transition: border .9s ease;
    transition: border .9s ease;
    width: 100%;
  }
  .contact-form textarea.form-control {
    min-height: 140px;
    resize: none;
    margin-bottom: 0;
    width: 100%;
  }
#email-name{
  display: block;
}
  .send-mesage{
    margin-top: 5%;
    width: 100%;
    border-radius: 999px;
    margin-bottom: 5%;
  }
}
